<h3>Payment Details</h3>
<div class="field">
  <%= f.label :cc_name, "Name on Credit Card" %><br>
  <%= f.text_field :cc_name, class: 'form-control', :required => true  %>
</div>
<div class="field">
  <%= f.label :cc_num, "Credit Card Number" %><br>
  <%= f.text_field :cc_num, class: 'form-control', :required => true  %>
</div>
<div class="field">
  <%= f.label :cc_exp, "Credit Card Expiration Date" %><br>
  <%= f.date_select :cc_exp, class: 'form-control', :required => true  %>
</div>
<div class="field">
  <%= f.label :cc_cvv, "Credit Card CVV" %><br>
  <%= f.number_field :cc_cvv, class: 'form-control', :required => true  %>
</div>
